nav
    height: 12vh
    display: flex
    background: rgba(0,0 ,0 ,1 )
    opacity: 0.7
    justify-content: space-around
    align-items: center


.nav-div1
    color: white
    h1
        font-family: satisfy  
    
 
.nav-div2
    display: flex
    gap: 20px
    align-items: center


    a
        text-decoration: none
        color: white
        &:hover
            color: #ffa012
.button1
        
        background-color: #ffa012
        padding: 10px 40px
        border-radius: 10px
       
#chec
    display: none

.checbtn
    display: none

.nav-div3
    display: flex
    align-items: center
    gap: 20px


@media (max-width : 428px)
    
        
    

    .checbtn
        display: flex
   

    .nav-div2

        flex-direction: column
        align-items: start
        padding-left: 50px
        padding-top: 50px
        background-color: rgba(0, 0, 0, 1)
        width: 99vw
        height: 100vh
        position: fixed
        display: none
        z-index: 999
        transition: 1s
        top: 10%
        left: 0
        
        
     


    #chec:checked ~ .nav-div3 > .nav-div2
        display: flex
    

    #chec:checked ~ .nav-div1 
        display: none
    
    #chec:checked ~ .nav-div3 > .btn
        display: none
 

    
      
      
    
      
    