.section3-div1

    padding: 50px
    text-align: center
    
    
    h1
      
        &::after
            content: ' Our Restaurant'
            color: #ffb03b
.section3-div2 

    padding-inline: 30px
    display: flex
    gap: 40px
.section3-mini1
    

    padding-top: 50px
    padding-inline: 20px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    &:hover
        background-color: orange
        color: white
        padding-top: 20px
        padding-bottom: 30px
        transition: 1s

