.section6
     background-image: url(../images/events-bg.jpg)
     background-size: cover
     background-position: right
    


.section6-mini2
    padding: 50px
    display: flex
    gap: 50px


.section6-minii2
    color: white
    padding-top: 90px


.section6-df
    display: flex
    gap: 20px

.center
    padding-top: 50px
    text-align: center
    color: white