.section4-mini1
    padding-block:  50px
    display: flex
    gap: 100px 
    align-items: center
   


.center2
   padding-left: 35% 
   padding-top: 50px

.desain
    background-color: #fff
    color: orange
    border: 2px solid orange
    border-radius: 50px 
    
    &:hover
        background-color: orange
        color: #fff 



@media   ( max-width: 428px  )
    .section4-mini1
        flex-direction: column
        gap: 5px


    .center2
        flex-direction: column
        

    .sec4-pad
        padding-inline: 20px

 

    
   

